In [1]:
import pandas as pd

train_dataset = pd.read_csv('data/co2_emission.csv')
print(train_dataset.head())

        Entity Code  Year  Annual CO₂ emissions (tonnes )
0  Afghanistan  AFG  1949                         14656.0
1  Afghanistan  AFG  1950                         84272.0
2  Afghanistan  AFG  1951                         91600.0
3  Afghanistan  AFG  1952                         91600.0
4  Afghanistan  AFG  1953                        106256.0

<h2>FIltro do Dataset Informações do Brasil</h2>

In [10]:
# print(train_dataset['Entity'])

print(train_dataset[train_dataset.Entity == "Brazil"])
emission_brazil = train_dataset[train_dataset.Entity == "Brazil"]

      Entity Code  Year  Annual CO₂ emissions (tonnes )
2980  Brazil  BRA  1901                       2103136.0
2981  Brazil  BRA  1902                       2506176.0
2982  Brazil  BRA  1903                       2440224.0
2983  Brazil  BRA  1904                       2619760.0
2984  Brazil  BRA  1905                       2799296.0
...      ...  ...   ...                             ...
3092  Brazil  BRA  2013                     493593511.3
3093  Brazil  BRA  2014                     519526349.7
3094  Brazil  BRA  2015                     512081882.0
3095  Brazil  BRA  2016                     473741376.0
3096  Brazil  BRA  2017                     476066778.3

[117 rows x 4 columns]

In [12]:
print(emission_brazil['Annual CO₂ emissions (tonnes )'])

2980      2103136.0
2981      2506176.0
2982      2440224.0
2983      2619760.0
2984      2799296.0
           ...
3092    493593511.3
3093    519526349.7
3094    512081882.0
3095    473741376.0
3096    476066778.3
Name: Annual CO₂ emissions (tonnes ), Length: 117, dtype: float64

In [8]:
print(train_dataset.describe())

               Year  Annual CO₂ emissions (tonnes )
count  20853.000000                    2.085300e+04
mean    1953.339424                    1.930517e+08
std       57.903089                    1.345143e+09
min     1751.000000                   -6.255223e+08
25%     1932.000000                    3.187680e+05
50%     1971.000000                    3.828880e+06
75%     1995.000000                    3.706898e+07
max     2017.000000                    3.615326e+10

<h3>Referência:</h3>

<a href="http://felipegalvao.com.br/blog/2016/02/18/ciencia-de-dados-com-python-basico-do-pandas-leitura-de-dataframes/">ciencia-de-dados-com-python-basico-do-pandas-leitura-de-dataframes</a>